<div class="container-fluid">
    <div style="height: 700px" class="d-flex align-items-center justify-content-center">
        <div style="width: 65%" id="content-width" class="row">
            <div class="col-lg-8">
                <center>

                    <center><h1 id="title-text">Greetings</h1></center>

                    {{#if messages.info }}
                        <div style="width: 90%;margin-bottom: 1rem;" class="row">
                            <div class="name-error" id="validation-error">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                                    <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
                                    <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
                                </svg>
                                &nbsp;&nbsp;
                                <span>
                                    {{messages.info}}
                                </span>
                            </div>
                        </div>
                    {{/if}}

                    <form action="/greet" method="post">

                        <div class="mb-3">
                            <input name="nameInput" type="text" id="name-input" class="form-control user-name-input" placeholder="type your name ..." />
                        </div>

                        <div id="radios">
                            <label class="">
                                <input type="radio" name="greetingLanguage" value="english" class="greetingLanguage" />
                                <span class="label-body">English</span>
                            </label>
                            &nbsp;&nbsp;
                            <label class="">
                                <input type="radio" name="greetingLanguage" value="xhosa" class="greetingLanguage" />
                                <span class="label-body">Xhosa</span>
                            </label>
                            &nbsp;&nbsp;
                            <label class="">
                                <input type="radio" name="greetingLanguage" value="sesotho" class="greetingLanguage" />
                                <span class="label-body">Sesotho</span>
                            </label>

                        </div>

                        <center>
                            <button type="submit" id="greet-btn" style="width: 80%" class="btn btn-lg greet-btn">Greet Me</button>
                        </center>
                    </form>

                    <div>
                        <center>

                            <div style="width: 70%;margin-top:1rem" class="row">
                                <div class="col-12">
                                    <!-- Button trigger modal -->
                                    <button style="width: 65%; color: rgb(229, 229, 255)" type="button" class="btn btn-sm clear-btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">

                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-arrow-clockwise text-light" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                            </svg>
                                        </span>
                                        reset
                                    </button>
                                </div>

                            </div>
                        </center>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 style="color: rgb(23, 23, 23);" class="modal-title fs-5" id="staticBackdropLabel">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                                            <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
                                            <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
                                        </svg>
                                        Reset Data
                                        </h2>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p style="color:rgb(67, 67, 67)">
                                        Please note that all your data will be permanently deleted
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                                    <a href="/reset" class="">
                                        <button type="button" class="btn btn-primary btn-sm">Understood</button>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </center>
                <br />
                <div style="background: none" class="">
                    {{#if userGreeting}}
                        <center>
                            <hr />
                            <p style="color: rgb(198, 165, 255); font-size: 1.3rem; margin-left: 1.6rem">
                                <span class="greet-msg">{{userGreeting}}</span>
                                <span> <img style="width: 40px;" src="/images/waving-hand-joypixels.gif" alt="waving hand" class="waving-hand" /> </span>
                            </p>
                        </center>
                    {{/if}}
                </div>
                <br />
            </div>

            <div style="position: relative;" id="counter-box" class="col-lg-4 d-flex justify-content-center">

                <div style="margin-top: 1.3rem;position: relative;">
                    <center>
                        <h1 class="greet-counter">{{userCount}}</h1>
                        <p><span style="color: rgb(238, 84, 110);">#</span><span id="counter-subtext">No. of greeted users</span> </p>
                    </center>

                    <div style="position: absolute;bottom:0;right:50;left:50">
                        <a href="/greeted" class="btn" style="margin-bottom: 2rem;color:rgb(255, 224, 229);border:2px rgb(255, 216, 222) solid">
                            Greeted Users &nbsp;
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

