<div class="container">
    <div>
        <h4 style="margin-top: 4rem;letter-spacing:0.5rem;font-weight:400;font-size:1.1rem">
            <a href="/greeted" style="text-decoration: none;" >
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg>
                Back
            </a>
        </h4>
    </div>
    <div style="height: 70vh;" class="d-flex justify-content-center align-items-center">
        <div class="col-lg-8">
            <center>
                <img height="200" src="/images/symbole-masculin-icone-l-utilisateur-violet.png" alt="" />
                <h3 style="font-size: 3rem;letter-spacing:0.5rem"> {{username}} </h3>
                <h1>{{counter}}</h1>
                <p>Number of times greeted</p>
            </center>
        </div>
    </div>
</div>